.eidolon-tarot{
  background-color: var(--background-color);
  padding-bottom: 2vw;
}

.ui{
  position: relative;
  display: flex;
  justify-content: space-between;
}

button{
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: .5vw 1vw;
  border-radius: 32px;
}

button:hover{
  background-color: var(--secondary-color);
  transition: var(--transition-time) ease-out;
}

.card{
    margin: 1vw;
    height: auto;
    width: 7vw;
    background-size: 6vw;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

#discard, #fate, #aside, #spread{
    padding: 1vw 0 0 ;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 19vw;
    min-width: 45vw;
    height: min-content;
}

.table{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    gap: 2vw;
    padding: 2vw 0;
    height: min-content;
    width: max-content;
}

.grid .fate {
  grid-area: fate;
}

.grid .discard {
  grid-area: discard;
}

.grid .spread {
  grid-area: spread;
}

.grid .aside {
  grid-area: aside;
}


.layout{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  height: min-content;
  padding: .5vw;
  width: min-content;
}