.blog_post{
    padding: 50px calc(25vw - 75px);
}

.blog_post > h1{ /* title */
    color: var(--accent-color);
}

.blog_post > h3{ /* date */
    padding: 1vw 0 0;
}

.tag_list{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 1rem .5rem;
}

.tag_list > h4{
background-color: var(--secondary-color);
    width: fit-content;
    padding: .3rem .6rem;
    margin: .5rem;
    border-radius: 20px;
}

.blog_post > h5{ /* body */
    margin: 1.5rem 0;
}

.back_to_blog{
    margin: 1rem 0;
}