.tile {
  justify-content: center;
  text-decoration: none; /* gets rid of default link color + underline */
  position: relative;
  border-radius: 8px;
  height: calc(10vw + 50px);
  width: calc(10vw + 50px);
  background-color: var(--background-color); /* this is reset by inline css */
  box-shadow: none;
  border-width: 1.5px;
  border-style: solid;
}

.window {
  border-radius: 16px; /* rounded corners */
  border-style: solid;
  border-width: 4px;
  border-color: black; /* i do this so if you pick white the section is still visible */
  display: grid;
  justify-content: center;
  grid-template-columns: var(--column-width) var(--column-width) var(--column-width); /* 3 columns of equal size */
  gap: 1vw var(--column-gap);
  place-items: center;
  padding: 1.5vw;
  margin: 1vw;
}

.reset{
  width: min-content;
  padding: .5vw 2vw;
  margin: 1rem 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 32px;
}

.reset:hover{
  background-color: var(--secondary-color);
  transition: 1s;
}

.page{
  margin: 5vh var(--content-margin);
}