.grid {
  --column-gap: 20px;
  --column-width: calc((100% - 2 * var(--column-gap)) / 3);
  --row-width: calc(var(--column-width) * 0.5);

  display: grid;
  justify-content: center;
  grid-template-columns: var(--column-width) var(--column-width) var(--column-width);

  /* 3 columns of equal size */
  gap: 20px var(--column-gap);
  place-items: center;
  padding: 0;
  margin: 0;
}

.box {
  justify-content: center;
  text-decoration: none;

  /* gets rid of default link color + underline */
  position: relative;
  background-color: var(--primary);
  width: 22vw;
  height: 15vw;
  padding: 0 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.box:hover {
  transition: var(--transition-time);
  background-color: var(--secondary);
}

.text {
  margin: 0;
  text-decoration: none; /* gets rid of default link color + underline */
  display: grid;
  color: var(--text);
}

.title {
  font-weight: bolder;
  margin: 1rem;
}

.desc {
  text-decoration: none;
  margin: 0;
}