.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: left;
  z-index: 99;
  width: var(--content-width);
  height: 60vh;
  margin: 0 var(--content-margins) 0 var(--content-margins);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  position: relative;
  align-items: center;
}

.name {
  color: var(--primary-color);
  margin-left: -0.5rem;
}
