.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: left;
  z-index: 99;
  width: var(--content-width);
  height: 550px;
  margin: 0 var(--right-content-margin) 0 var(--left-content-margin);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  position: relative;
  align-items: center;
}

.name {
  color: var(--primary-color);
  margin-left: -0.25rem;
}

@media screen and (max-width: 900px) {
  .hero {
    height: 500px;
  }
}
