.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--min-content-margin);
    z-index: 99;
    background-color: var(--background-color);
    position: sticky; /* make it always at top of page */
    top: 0;
    width: 100vw;
    border-bottom: 1px solid var(--text-color);
    height: 60px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(2vw);
}

.left_navbar, .right_navbar{
    display: flex;
    align-items: baseline;
    gap: min(2vw);
}