.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    z-index: 99;
    width: 100vw;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 25px var(--secondary-color)
}

.logo {
    font-weight: 800;
    font-family: var(--primary-font);
    font-size: 1.35rem;
    color: var(--text-color);
    text-shadow: 2px 2px 8px var(--primary-color);
}

.logo:hover {
    color: var(--primary-color);  
    transition: var(--transition-time);
}

.section {
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-style: normal;
    line-height: normal;
    font-size: 1rem;
    text-shadow: 1px 1px 8px var(--primary-color);
}

.section:hover {
    color: var(--secondary-color);
    transition: var(--transition-time);
}

.button {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 1vw;
    padding: .4% .8%;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--primary-color);
    transition: var(--transition-time);
}
