.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh var(--content-margin) 2vh var(--content-margin);
    z-index: 99;
    width: 100vw;
    background-color: var(--background-color);
    top: 0;
}



.logo {
    font-weight: 800;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--text-color);
    text-shadow: 2px 2px 8px var(--primary-color);
}

.logo:hover {
    color: var(--primary-color);
    transition: 1s;
}

.section {
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-style: normal;
    line-height: normal;
    font-size: 1.25rem;
    text-shadow: 1px 1px 8px var(--primary-color);
}

.section:hover {
    color: var(--secondary-color);
    transition: 1s;
}

.button {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 1vw;
    padding: .5% 1%;
    font-size: 1.25rem;
}

.button:hover {
    background-color: var(--primary-color);
    transition: 1s;
}


@media screen and (width <= 850px) {
    .logo {
        font-size: 1rem;
    }

    .section {
        font-size: .833rem;
    }

    .button {
        font-size: .833rem;
    }
}

@media screen and (width <= 500px) {
    .logo {
        font-size: .75rem;
    }

    .section {
        font-size: .625rem;
    }

    .button {
        font-size: .625rem;
    }
}