.projects {
  padding-left: var(--content-margin);
  padding-right: var(--content-margin);
  margin-bottom: 5vw;
  width: 100vw;
}

.projects > h3{
  font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: underline;
    align-items: center;
    padding: 25px 0;
    text-align: center;
    height: 30%;
    display: flex;
    color: var(--text-color);
}

.projects > h3:hover{
  color: var(--primary-color);
  transition: var(--transition-time);
}

.grid {
  display: grid;
  grid-auto-flow: row;
  gap: 40px;
  grid-template-columns: repeat(2, calc(calc(var(--content-width) - 80px)/2));
  max-width: var(--content-width);
  width: var(--content-width);
  height: auto;
}

.project_tile{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: 20px;
}


.image_wrapper{
  height: min(30vw);
  position: relative;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  border: 1px solid var(--text-color);
  width: 100% !important;
}

.image_wrapper:hover {
  filter: brightness(70%);
  transition: var(--transition-time);
  width: max-content;
}

.projectName {
  position: relative;
  font-weight: 700;
  height: 25%;
  width: max-content;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (width <= 1150px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: var(--content-width);
  }

  .box {
    width: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
}
