.box {
  width: calc(100% - var(--left-content-margin));
  height: min(30vw);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.box:hover {
  filter: brightness(50%);
  transition: 1s;
}

.grid {
  display: grid;
  grid-auto-flow: row;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  width: var(--content-width);
  height: auto;
}

.projects {
  padding-left: var(--content-margin);
  padding-right: var(--content-margin);
  margin-bottom: 5vw;
}

.projects > h3{
  font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: underline;
    align-items: center;
    padding: 25px 0 21px;
    text-align: center;
    height: 30%;
    display: flex;
    color: var(--text-color);
}

.projects > h3:hover{
  color: var(--primary-color);
  transition: 1s;
}

.projectName {
  position: absolute;
  font-weight: 700;
  height: 100%;
  display: flex;
  width: 95%;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 1rem;

  /* black outline; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--background-color);
}

@media screen and (width <= 850px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: var(--content-width);
    grid-template-areas: none;
  }

  .box {
    width: auto;
    position: relative;
    overflow: hidden;
    height: min(200px);
    border-radius: 10px;
  }

  .grid .box:nth-child(1) {
    grid-area: none;
  }

  .grid .box:nth-child(2) {
    grid-area: none;
  }

  .grid .box:nth-child(3) {
    grid-area: none;
  }

  .grid .box:nth-child(4) {
    grid-area: none;
  }
}
