.tile {
  background-color: var(--secondary-color);
  border-radius: 40px;
  width: 24vw;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 20px;
  height: 490px;
  display: flex;
  justify-content: top;
  align-items: center;

  flex-direction: column;
}

.skills {
  padding: 0 13vw 17px 13vw;
  width: 100vw;
  position: relative;

  background-color: var(--primary-color);
}

.tiles {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
}

.subheading {
  font-size: 32px;
  font-family: var(--primary-font);
  font-weight: 600;
  text-decoration: underline;
  align-items: center;
  padding: 25px 0 21px 0;
}

.image {
  filter: invert(100%);
  margin: 20px;
}
