.page{
    width: var(--content-width);
    margin: 10vh var(--content-margin);
    text-align: justify;
}

.page > h2{ /* title */
    margin: 4vh 0;
}

.page > h3{ /* title */
    margin: 2vh 0;
}

.page > h4{
    margin: 1vh 0;
}