.section_header {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: underline;
    align-items: center;
    padding: 25px 0 21px;
    margin-left: var(--left-content-margin);
    color: var(--text-color);
}

@media screen and (width <= 1200px) {
    .section_header {
        font-size: 1.5rem;
    }
}