@import url('https://fonts.googleapis.com/css?family=Fira%20Code:700|Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 



:root {
  --text-color-light: #24022c;
  --background-color-light: #fbe7fe;
  --primary-color-light: #EFBEFE;
  --secondary-color-light: #cf67f2;
  --accent-color-light: #5F027E;
  --text-color-dark: #f5d3fd;
  --background-color-dark: #150118;
  --primary-color-dark: #320141;
  --secondary-color-dark: #8013a4;
  --accent-color-dark: #de81fd;
  --content-width: calc(75vw + 75px);
  --content-margin: calc((100vw - var(--content-width)) / 2);
  --transition-time: .5s;
  --border-width: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent-color: var(--accent-color-dark);
  }

  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --background-color: var(--background-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);
  }

  html {
    color-scheme: light;
  }
}

.darkMode{
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent-color: var(--accent-color-dark);

  
  background-color: var(--background-color);
   height: max-content;
}

.lightMode{
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --accent-color: var(--accent-color-light);

  background-color: var(--background-color);
   height: max-content;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	color: var(--primary-color);
	font: inherit;
	cursor: pointer;
	outline: var(--border-width) solid;
  border-width : var(--border-width);
  box-shadow: 2px 2px 8px var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
  transition: var(--transition-time) ease-out;

}

svg {
  fill: var(--text-color);
}

svg:hover{
  fill: var(--secondary-color);
  transition: var(--transition-time) ease-out;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Atkinson Hyperlegible', 'Fira Code', sans-serif;
   height: 100%;
  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover{
  color: var(--secondary-color);
  transition: var(--transition-time) ease-out;
}

h1, h2, h3, h4, h5{
  color: var(--text-color);
  font-family: 'Fira Code', 'Atkinson Hyperlegible', sans-serif;
}

p{
  color: var(--text-color);
}

h1 {
  font-size: 3.027rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -1%;
}

h2 {
  font-size: 2.44em;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -1%;
}

h3 {
  font-size: 1.953rem;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -1%;
}

h4 {
  font-size: 1.56em;
  font-weight: 400;
}

h5 {
  font-size: 1.266rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
}


@media screen and (750px < width <= 1150px) {
  html {font-size: 12px;}
}

@media screen and (width <= 750px) {
  html {font-size: 8px;}
}

nav {
  position: fixed;
}

canvas{
      border-style: solid;
      border-width: 8px;
      border-radius: 16px;
      border-color: var(--accent-color);
      background-color: var(--background-color);
      margin: 2vw 0;
}