@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --text-color-light: #24022c;
  --background-color-light: #fbe7fe;
  --primary-color-light: #EFBEFE;
  --secondary-color-light: #cf67f2;
  --accent-color-light: #5F027E;
  --text-color-dark: #f5d3fd;
  --background-color-dark: #150118;
  --primary-color-dark: #320141;
  --secondary-color-dark: #8013a4;
  --accent-color-dark: #de81fd;
  --min-content-margin: 2rem;
  --content-width: min(calc(100vw - calc(2 * var(--min-content-margin))),1250px);
  --content-margin: calc((100vw - var(--content-width)) / 2);
  --transition-time: .4s;
  --border-width: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent-color: var(--accent-color-dark);
  }

  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --background-color: var(--background-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);
  }

  html {
    color-scheme: light;
  }
}

.darkMode{
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent-color: var(--accent-color-dark);

  
  background-color: var(--background-color);
   height: max-content;
}

.lightMode{
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --accent-color: var(--accent-color-light);

  background-color: var(--background-color);
   height: max-content;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button {
	font: inherit;
	cursor: pointer;
	outline: var(--border-width) solid;
  border-width : var(--border-width);
  box-shadow: 2px 2px 8px var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 12px;
  padding: .25rem .5rem;
  margin: 1rem 0;
}

.button:hover {
  background-color: var(--secondary-color);
  transition: var(--transition-time) ease-out;

}

svg {
  fill: var(--text-color);
}

svg:hover{
  fill: var(--secondary-color);
  transition: var(--transition-time) ease-out;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  height: 100%;
}

body {
  font-family: Roboto, Arvo, sans-serif;
  height: 100%;
  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.a {
  color: var(--text-color);
  margin: 1rem 0;
  width: fit-content;
}

.a:hover{
  color: var(--secondary-color);
  transition: var(--transition-time) ease-out;
  
}

button, a{
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  width: fit-content;
  border: none;
}

.h1, .h2, .h3, .h4, .h5{
  color: var(--text-color);
  font-family: Arvo, Roboto, sans-serif;
  font-size: 1rem;
  margin: min(1vw, 1rem) 0;
}

code{
  font-family: Inconsolas, sans-serif;
}

hr{
  margin: 2rem 0;
}

.p, li, table, td, th, tr{
  color: var(--text-color);
  text-align: justify;
  width: min(100%, 61ch);
  font-size: min(2.78vw, 1.266rem);
  line-height: 150%;
  font-weight: 300;
  padding: .5rem 0;
}

.p{
  
  text-indent: 3rem;
}


table, ol{
  margin: 1.25rem 0;
}

table, th, td{
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  
}

tr, th, td{
  padding: 0 1rem;
}

.h1 {
  font-size: min(8.484vw, 3.027rem);
  font-weight: 700;
  line-height: 125%;
  
  /* letter-spacing: -1%; */
}

.h2 {
  font-size: min(6.787vw, 2.44em);
  font-weight: 700;
  line-height: 125%;

  /* letter-spacing: -1%; */
  padding: 1vw 0;
}

.h3 {
  font-size: min(5.430vw, 1.953rem);
  font-weight: 400;
  line-height: 125%;

  /* letter-spacing: -1%; */
  padding: .75vw 0;
}

.h4 {
  font-size: min(4.344vw, 1.56em);
  line-height: 140%;
  font-weight: 400;
  padding: .6vw 0;
}

.h5 {
  font-size: min(3.525vw, 1.266rem);
  line-height: 140%;
  font-weight: 400;
  padding: .5vw 0;
  width: min(100%, 53ch);
}




nav {
  position: fixed;
}

canvas{
  border-style: solid;
  border-width: 8px;
  border-radius: 16px;
  border-color: var(--accent-color);
  background-color: var(--background-color);
  margin: 2vw 0;
}

/* @media (min-width: 1201px) {  
  
  /* css code here */

} */