.grid {
    --column-width: 330px;
    --row-width: 210px;

    --column-gap: calc((100% - var(--column-width) * 3) / 2);

    margin-top: 140px;
    display: grid;
    grid-template-columns: var(--column-width) var(--column-width) var(
            --column-width
        ); /* 3 columns of equal size */
    column-gap: var(--column-gap);
    row-gap: 20px;
    place-items: center;
}

.box {
    justify-content: center;
    text-decoration: none; /* gets rid of default link color + underline */
    position: relative;
    background-color: var(--primary);
}

.img {
    height: var(--row-width);
    width: var(--column-width);
    object-fit: cover;
    background-position: center;
}

.box:hover .img {
    transition: 0.45s;
    filter: brightness(50%);
}

.desc{
    margin: 0.5rem 1rem 0.8rem 1rem;
    color: var(--background);
}