.border_style{
    border-style: solid;
    border-width: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--secondary);
    border-color: var(--primary);
    overflow: hidden;
  }

.heading{
  font-size: 18px;
  font-weight: 600;
}

.body{
  font-size: 14px;
}