:root {
  --text: #1c0d21;
  --background: #ebdbf0;
  --primary: #b439dd;
  --secondary: #e1c9e9;
  --accent: #8b43a3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--background);
  padding: 2% clamp(0px, 15%, 15%) 0% clamp(0px, 15%, 15%);
  min-height: 100%;
}
