:root {
    --text: #0a0118;
    --background: #ffffff;
    --primary: #7c56b8;
    --secondary: #ddc9fc;
    --accent: #620bef;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: var(--background);
    padding: 2% clamp(0px, 15%, 15%) 0% clamp(0px, 15%, 15%);
    min-height: 100%;
}


