.navbar {
  display: flex; /* makes horizontal list */
  align-items: center; /* makes centered vertically */
  text-decoration: none; /* gets rid of default link color + underline */
  justify-content: space-between;
  width: 500px;
}

.nav_link {
  text-decoration: none;
  margin-left: min(1rem);
  margin: 0;
}

.nav_link:hover {
  transition: 0.5s;
  color: var(--primary);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;

  color: var(--text);
  text-decoration: none;
  margin-right: min(1rem);
}

.top {
  margin-top: 20px;
  list-style-type: none;
  display: flex; /* makes horizontal list */

  background-color: var(--background);
  justify-content: space-between;
}

.header > hr {
  width: 100%;
  color: var(--text);
}
