.navbar {
  display: flex; /* makes horizontal list */
  align-items: center; /* makes centered vertically */
  text-decoration: none; /* gets rid of default link color + underline */
}

.nav_link {
  padding: 2px 1em 0 1em;
  font-weight: 600;
  font-size: 1rem;
  
  color: var(--text);
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  
  color: var(--text);
  text-decoration: none;
}

.top {
  list-style-type: none;
  display: flex; /* makes horizontal list */

  background-color: var(--background);
  justify-content: space-between;
}
